---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import panini1996 from "../assets/images/panini-sticker-1996.png";
---

<Layout title="AC7">
    <main>
        <section id="hero">
            <Image
                src={panini1996}
                alt="Aaron Conway as a panini sticker from 1996"
                id={"hero-panini-sticker"}
            />
        </section>
    </main>
</Layout>

<style>
    section {
        display: grid;
        place-items: center;
        padding: 48px 0px;
        min-height: 100dvh;
    }
    img {
        width: 50%;
        max-height: 400px;
        object-fit: contain;
        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1));
        z-index: 1;
    }
</style>

<script>
    const constrain = 200;
    const hero = document.getElementById("hero");
    const sticker = document.getElementById("hero-panini-sticker");

    function transforms(x: number, y: number, el: HTMLElement): string {
        let box = el.getBoundingClientRect();
        let calcX = -(y - box.y - box.height / 2) / constrain;
        let calcY = (x - box.x - box.width / 2) / constrain;

        return (
            "perspective(100px) " +
            "   rotateX(" +
            calcX +
            "deg) " +
            "   rotateY(" +
            calcY +
            "deg) "
        );
    }

    function transformElement(
        el: HTMLElement,
        xyEl: [number, number, HTMLElement],
    ) {
        el.style.transform = transforms(...xyEl);
    }

    hero?.addEventListener("mousemove", (e: MouseEvent) => {
        if (!sticker) return;
        let xy: [number, number] = [e.clientX, e.clientY];
        let position: [number, number, HTMLElement] = [...xy, sticker];

        window.requestAnimationFrame(function () {
            if (!sticker) return;
            transformElement(sticker, position);
        });
    });
</script>
